.public-DraftEditorPlaceholder-root{
  color: #999;
  position: absolute; 
  pointer-events: none; 
}

.knBlogBlockquote {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

.knBlogBlockquote:hover {
  color: #666;
}

.knBlogUnstyled{
}